@font-face {
    font-family: "srproj";
    src: url("C:/Users/Analisa/Downloads/Srprojfont-Regular.ttf");
 }

* {
    background-color: #FFF9E6;
}
  
h1 {
    text-align: center;
    font-family: "srproj";
    font-size: 5em;
    color: #292B2E;
}

.grid-container {
    display: grid;
    margin: auto;
    grid-template-columns: 40% 40%;
    justify-content: center;
}

.grid-item {
    margin: 2em 3.5em 2em 3.5em;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #292B2E;
    letter-spacing: 0.25em;
}

.item3 {
    grid-column: 1 / span 2;
    grid-row: 2;
}

.item6 {
    grid-column: 1 / span 2;
    grid-row: 4;
    text-align: center;
}

input[type=text] {
    width: 100%;
    padding: 0.65em;
    margin-top: 0.7em;
    background-color: #FBE7D5;
    border: none;
    border-radius: 0.5em;
}

button {
    font-family: "srproj";
    font-size: 2.1em;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #292B2E;
    cursor: pointer;
    border: none;
    padding: 0.4em;
    text-align: center;
    width: 5em;
    border-radius: 0.5em;
}