@font-face {
    font-family: 'Srprojfont-Regular';
    src: url('fonts/Srprojfont-Regular.eot');
    src: url('fonts/Srprojfont-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Srprojfont-Regular.woff') format('woff'),
         url('fonts/Srprojfont-Regular.ttf') format('truetype'),
         url('fonts/Srprojfont-Regular.svg#rsuregular') format('svg');
}

body {
    margin: 0;
}

img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { 
  img.bg {
    left: 50%;
    margin-left: -512px;   
  }
}

.header {
  position: fixed;
  width: 100%;
  overflow: hidden;
  background-color: #FFFAEC;
  padding: 1rem 2rem;
}

.header a {
  float: left;
  text-align: center;
  text-decoration: none;
}

.header a.user-name {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #292B2E;
    float: left;
    clear: left;
}

.header a.pet-name {
  font-family: 'Srprojfont-Regular';
  font-size: 3rem;
  font-weight: 700;
  color: #292B2E;
  float: left;
  clear: left;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background-color: #FFFAEC;
    padding: 1rem 2rem;
  }

.nav-button {
    font-family: 'Srprojfont-Regular';
    font-size: 2rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #292B2E;
    cursor: pointer;
    border: none;
    padding: 0.4rem;
    text-align: center;
    width: 6rem;
    border-radius: 0.5rem;
}

.disclaimer {
  display: none;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #292B2E;
}

@media screen and (max-width: 1280px) {
    .footer button{
      display: none;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    
    .disclaimer {
      display: flex;
    }

    #canvas1 {
      display: none;
    }
  }

#canvas1 {
    /* border: 5px solid black; */
    top: 50%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px; 
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.8); 
}

.modal-content {
  background-color: #FFF9E6;
  margin: 20% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 40%; 
  border-radius: 1rem;  
}

.modal-heading {
  font-family: 'Srprojfont-Regular';
  font-size: 2rem;
  font-weight: 700;
  color: #292B2E;
  text-align: center;
  margin-bottom: -2%;
  margin-top: -1%;
}

.modal-text {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1rem;
  color: #292B2E;
  text-align: center;
}

.modal-img {
  height: 15%;
  width: 15%;
  display: flex;
  margin: auto;
}

.close {
  color: #FFFFFF;
  font-size: 1.7rem;
  display: flex;
  margin: auto;
  justify-content: center;
}

.close:hover,
.close:focus {
  color: #888;
  text-decoration: none;
  cursor: pointer;
}

/* SHOP MODAL - refactored shop.css -------------------------- */
.nav-modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
}

.shop-modal-content {
  background-color: #FFF9E6;
  border-width: 0.2rem;
  border-style: solid;
  border-color: #000000;
  border-radius: 1rem;
  width: 50%;
  margin-left: auto;
  margin-right: 5rem;
  margin-top: 8%; 
  margin-bottom: 5%;
  padding: 20px; 
}

.nav-modal h1 {
  font-family: 'Srprojfont-Regular';
  color: #292B2E;
  font-size: 4rem;
  margin: 1rem 0rem 1rem 1.5rem;
}

.nav-close {
  color: #FFFFFF;
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  width: 10%;
  float: right;
}

.close:hover,
.close:focus {
  color: #888;
  text-decoration: none;
  cursor: pointer;
}

.tab-div {
  padding: 0rem 1.5rem 1.5rem 1.5rem;
  display: grid;
}

.tab button {
  background-color: #FBE7D5;
  font-family: 'Srprojfont-Regular';
  color: #292B2E;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  float: left;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 1rem;
  width: 20%;
  padding: 0.5rem 0;
}

.tab button.active {
  color: #FFFFFF;
  background-color: #292B2E;
}

.tab-content {
  display: none;
  background-color: #FBE7D5;
  border-radius: 0rem 0.5rem 0.5rem 0.5rem;
}

.food-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
}

.food-item {
  display: grid;
  grid-template-columns: 80% 15% 5%;
  grid-template-rows: 8rem 2rem;
  overflow: hidden;
  background-color: #FFF9F4;
  margin: 0.75rem;
  border-radius: 1rem;
  color: #292B2E;
  padding: 0rem 2rem 1rem 1rem;
} 

.food-image {
  grid-column: 1 / span 3;
  grid-row: 1;
}

.tab-content h3 {
  font-family: 'Srprojfont-Regular';
  font-weight: bold;
  font-size: 1.5rem;
  display: inline;
}

.tab-content .money-bag {
  width: 100%;
  margin-top: 1.3rem;
  display: inline;
}

.tab-content p {
  display: inline;
  font-family: 'SF Pro Display';
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  display: inline;
  margin-top: 1.6rem;
}

/* TUTORIAL MODALS --------- */
/* TUTORIAL 1 */
.tutorial-modal {
  display: none; 
  text-align: center;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.8); 
}

.tutorial-modal-content {
  background-color: #FFF9E6;
  margin: 8% auto; 
  border: 1px solid #888;
  width: 50%; 
  border-radius: 1rem;  
  padding: 2% 0;
}

.tutorial-modal h1 {
  text-align: center;
  font-family: 'Srprojfont-Regular';
  font-size: 4rem;
  color: #292B2E;
}

.tutorial-modal p {
  font-family: 'SF Pro Display', sans-serif;
  color: #000000;
  letter-spacing: 0.1rem;
  line-height: 0.25rem;
  font-size: 1.25rem;
}

.tutorial-modal button {
  font-family: 'Srprojfont-Regular';
  font-size: 1.7rem;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #292B2E;
  cursor: pointer;
  border: none;
  padding: 0.2rem 0.6rem 0.2rem 0.6rem;
  text-align: center;
  border-radius: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.tutorial-modal a {
  text-transform: uppercase;
  font-family: 'SF Pro Display', sans-serif;
  color: #545454;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
}

.tutorial-modal a:hover {
  cursor: pointer;
}

/* TUTORIAL 2 & 3 GRIDS */
.tutorial-modal h3 {
  font-family: 'SF Pro Display', sans-serif;
  color: #000000;
  letter-spacing: 0.1rem;
  font-weight: normal;
  font-size: 1.2rem;
}

.body-text p {
  font-family: 'SF Pro Display', sans-serif;
  color: #000000;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  line-height: normal;
}

.tutorial2-grid {
  z-index: 1;
  display: grid;
  margin: auto;
  grid-template-columns: 33% 33% 33%;
  background-color: #FFF9E6;
  text-align: center;
  padding: 3rem 4rem 3rem 5rem;
  border-radius: 1rem;
}

.tutorial2-body {
  grid-column: 1 / span 3;
  grid-row: 1;
  text-align: left;
  word-wrap: break-word;
  display: grid;
  margin: auto;
  grid-template-columns: 7% 93%;
  overflow: hidden;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.grid-captions {
  grid-column: 1 / span 3;
  text-align: left;
}

.grid-captions.first-caption {
  grid-row: 1;
}

.grid-captions.last-caption p {
  margin-bottom: 1rem;
  font-family: 'SF Pro Display', sans-serif;
  color: #000000;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  line-height: normal;
}

.body-image {
  justify-content: center;
  display: flex;
  margin: auto;
}

.body-text {
  padding-left: 1rem;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

.back-button {
  text-align: left;
}

.skip-link {
  margin-top: 20%;
}

.next-button {
  text-align: right;
}

.tutorial3-grid {
  z-index: 1;
  display: grid;
  margin: auto;
  grid-template-columns: 33% 33% 33%;
  background-color: #FFF9E6;
  text-align: center;
  padding: 3rem 4rem 3rem 5rem;
  border-radius: 1rem;
}

.tutorial3-body {
  grid-column: 1 / span 3;
  grid-row: 1;
  text-align: left;
  word-wrap: break-word;
  display: grid;
  margin: auto;
  grid-template-columns: 15% 85%;
  margin-top: 4rem;
}

.tutorial3-grid-captions {
  grid-column: 1 / span 3;
  text-align: left;
  grid-row: 1;
}

.tutorial3-body h4 {
  font-family: 'Srprojfont-Regular';
  font-size: 1.3rem;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #292B2E;
  border: none;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  text-align: center;
  border-radius: 0.5rem;
}

/* SETTINGS MODAL */
.settings-modal-content {
  background-color: #FFF9E6;
  border-width: 0.2rem;
  border-style: solid;
  border-color: #000000;
  border-radius: 1rem;
  width: 50%;
  margin-left: auto;
  margin-right: 5rem;
  margin-top: 8%; 
  margin-bottom: 5%;
  padding: 20px; 
}

.settings-buttons {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: bold;
  color: #292B2E;
  text-transform: uppercase;
  background-color: #FBE7D5;
  letter-spacing: 0.25rem;
  border: none;
  border-radius: 0.7rem;
  padding: 0.7rem 1rem 0.7rem 1rem;
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
  width: 100%;
}

.delete-account {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #292B2E;
  letter-spacing: 0.25rem;
  border: none;
  border-radius: 0.7rem;
  padding: 0.7rem 1rem 0.7rem 1rem;
  font-size: 1.2rem;
  margin-bottom: 15rem;
  width: 100%;
}

/* CODE MODAL */
.code-modal-content {
  background-color: #FFF9E6;
  border-width: 0.2rem;
  border-style: solid;
  border-color: #000000;
  border-radius: 1rem;
  width: 50%;
  margin-left: auto;
  margin-right: 5rem;
  margin-top: 8%; 
  margin-bottom: 5%;
  padding: 20px; 
}

.lessons-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
  background-color: #FBE7D5;
  border-radius: 0.5rem;
  margin: 1.5rem;
}

.lesson-item {
  display: grid;
  grid-template-rows: 3rem 3rem 4rem;
  background-color: #FFF9F4;
  margin: 0.75rem;
  border-radius: 1rem;
  color: #292B2E;
  padding: 0rem 2rem 1rem 1rem;
} 

.code-modal-content p {
    font-family: 'SF Pro Display';
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: #292B2E;
}

.code-modal-content h3 {
  font-family: 'Srprojfont-Regular';
  font-weight: bold;
  font-size: 1.5rem;
}

.settings-buttons {
  cursor: pointer;
}